#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=xvda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway=192.168.40.200 --ip=192.168.40.65 --nameserver=192.168.40.101,192.168.40.102 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=monit.extrastores.com

# Root password
rootpw --iscrypted $6$M6PnmJ3B1mAIFw59$sE0b1f37LxidWzjeeY8f7ZBWh8pwLGOjJmVmH3GUMSdja/UoVR3rEk0jV.q9zN7wOKUAk2wGZuikqLbp6RGYz.
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=moniot --password=$6$LljF9vn48AVzPMYf$azK8KUP3SgYj/1/RD/Hou0mh0SpzGhz.9HEcAHu6rxkhHwsQO/KGssWLhUD8j9NRIe1kwvF69DaqhywR.0Xv3. --iscrypted --gecos="moniot"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=xvda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=xvda

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
